
<div class="cont">
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Products</th>
            <th>Price</th>
            <th>Update</th>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let it of itemcomp">
            <td>{{it.id}}</td>
            <td>{{it.products}}</td>
            <td>{{it.price}}</td>
            <td>
                <button type="button" class="btn btn-warning" routerLink="/update/{{it.id}}">UpdateComp</button>
            </td>
            <td>
                <button type="button" class="btn btn-success" routerLink="/delete/{{it.id}}">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>

        
        